# Kafka
bootstrap.servers=[host]:[port]
security.protocol=SASL_SSL
ssl.ca.location=/etc/ssl/certs/ca-certificates.crt
sasl.mechanisms=PLAIN
sasl.username=[API Key]
sasl.password=[API Secret]

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Confluent Cloud Schema Registry
schema.registry.url=https://psrc-2225o.us-central1.gcp.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=[SR API Key]:[SR API Secret]